@model PortfolioMVC.Models.Contact

<form method="post">
    <input asp-for="Email" class="form-control mb-2" placeholder="Email" />
    <input asp-for="Phone" class="form-control mb-2" placeholder="Phone" />
    <input asp-for="LinkedIn" class="form-control mb-2" placeholder="LinkedIn" />
    <input asp-for="PortfolioUrl" class="form-control mb-2" placeholder="Portfolio URL" />

    <button class="btn btn-success">Save</button>
</form>