@model PortfolioMVC.Models.Project
<style>
    .custom-input {
        background-color: #2a2a3d;
        border: 1px solid #444;
        color: #fff;
    }

        .custom-input:focus {
            border-color: #0d6efd;
            box-shadow: none;
            background-color: #2a2a3d;
            color: #fff;
        }
</style>

<div class="container mt-5">

    <form method="post" enctype="multipart/form-data" class="about-card p-4">

        <h3 class="mb-4">
            <i class="bi bi-plus-circle icon"></i> Add New Project
        </h3>

        <!-- TITLE -->
        <div class="mb-3">
            <label class="form-label">Project Title</label>
            <input asp-for="Title" class="form-control" />
        </div>

        <!-- OVERVIEW -->
        <div class="mb-3">
            <label class="form-label">Overview</label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        </div>

        <!-- ARCHITECTURE -->
        <div class="mb-3">
            <label class="form-label">Architecture</label>
            <textarea asp-for="Architecture" class="form-control" rows="4"></textarea>
        </div>

        <!-- CONTRIBUTION -->
        <div class="mb-3">
            <label class="form-label">Contribution</label>
            <textarea asp-for="Contribution" class="form-control" rows="4"></textarea>
        </div>

        <!-- TECHNOLOGIES -->
        <div class="mb-3">
            <label class="form-label">Technologies</label>
            <input asp-for="Technologies" class="form-control" />
        </div>

        <!-- IMAGE URL -->
        <div class="mb-3">
            <label class="form-label">Upload Images</label>
            <input type="file" name="Images" multiple class="form-control" />
        </div>

        <!-- BUTTONS -->
        <div class="mt-4 d-flex justify-content-between">

            <a href="javascript:history.back()" class="btn btn-outline-light">
                ← Back
            </a>

            <button type="submit" class="btn btn-success">
                <i class="bi bi-check-circle"></i> Save Project
            </button>

        </div>

    </form>

</div>