@model PortfolioMVC.Models.Project

<div class="row justify-content-center">
    <div class="col-md-8">

        <div class="about-card p-4">

            <h3 class="fw-bold mb-2">
                @Model.Title
            </h3>

            <hr />

            <h5 class="fw-semibold">Description</h5>
            <p class="mt-2 text-light">
                @Model.Description
            </p>

            <h5 class="fw-semibold mt-4">Technologies Used</h5>
            <p class="text-info">
                @Model.Technologies
            </p>

            <div class="mt-4 d-flex justify-content-between">

                <a href="javascript:history.back()" class="btn btn-outline-light">
                    ← Back
                </a>

                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-warning">
                        Edit
                    </a>
                }

            </div>

        </div>

    </div>
</div>