@model PortfolioMVC.Models.Project

<h2>Project Details</h2>

<div class="card p-3 mt-3">
    <h4>@Model.Title</h4>

    <p><b>Description:</b></p>
    <p>@Model.Description</p>

    <p><b>Technologies:</b></p>
    <p>@Model.Technologies</p>
</div>

<a href="/Project" class="btn btn-secondary mt-3">Back</a>