@model PortfolioMVC.Models.Skill

<form method="post">
    <div class="mb-2">
        <label>Skill Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button class="btn btn-success">Save</button>
</form>