@model PortfolioMVC.Models.Strength

<form method="post">
    <div class="mb-2">
        <label>Title</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <button class="btn btn-success">Save</button>
</form>