@model PortfolioMVC.Models.Project

<div class="container mt-5">
    <h2>@Model.Title</h2>

    <p><b>Description:</b></p>
    <p>@Model.Description</p>

    <p><b>Technologies Used:</b></p>
    <p>@Model.Technologies</p>

    <a href="/" class="btn btn-secondary mt-3">Back</a>
</div>